/* General dropdown styles */
.dropdown {
  position: relative;
  display: flex;
  min-width: 100px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  height: 60px;
  z-index: 999;
}

.dropdown-1, 
.dropdown-2, 
.dropdown-3, 
.dropdown-4 {
  height: 60px;
  transition: all 0.5s ease;
}

.dropdown span:hover {
  text-decoration: underline;
}

.active {
  height: calc(100%);
}

.dropdown span {
  height: 100%;
  cursor: pointer;
  z-index: 999;
}

.dropdown-content {
  z-index: 999;
}

.dropdown_option {
  height: 40px;
}

/* Mobile Dropdown styles */
.dropdown_mobile_view_container {
  transition: all 0.7s ease-in-out;
  background:#03203687;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  top: -100%;
  position: absolute;
}

.dropdown_mobile_view_option_container {
  position: absolute;
  width: 100%;
}

.showHide {
  display: none;
}

/* Large screen styles - adjust dropdown width */
@media screen and (min-width: 1024px) {
  .dropdown_mobile_view_container {
    width: 30% !important; /* Adjust dropdown width to 30% of the screen width */
    right: 0; /* Position the dropdown to the right */
    top: 0; /* Ensure the dropdown starts from the top */
    position: fixed; /* Fix position on the screen */
    height: 100%; /* Full screen height */
  }
  
  /* Adjust content area width as well */
  .dropdown-mobile-view-option-container {
    width: 100%;
  }
}
